.Chess{
    border-style: solid;
    border-width: 2px;
    border-color: #ff0000; 
    height: 100px;
    width: 100px;
}

.col-custom-eight{
    width:12.5% !important;
}

.Chess:hover{
    background-color: red;
}